<!DOCTYPE html>
<html>
<head>
  <title>Интернет-магазин Depot</title>
  <%= stylesheet_link_tag    "application", :media => "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
	<div id="banner">
		<%= image_tag("logo.png") %>
		<%= @page_title || "Паяльные станции" %>
	</div>
	<div id="columns">
		<div id="side">
			<ul>
				<li><a href="http://www....">Главная</a></li>
				<li><a href="http://www..../fag">Вопросы</a></li>
				<li><a href="http://www..../news">Новости</a></li>
				<li><a href="http://www..../contact">Контакты</a></li>
			</ul>
				<br/>
			<span><%= Time.now.strftime("%m/%d/%Y, %H:%M") %></span>
			<span></span>

		</div>
		<div id="main">
			<%= yield %>	
		</div>
	</div>
</body>
</html>
